/*@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=PT+Serif:ital,wght@1,400;1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');

body{
    background-color: lavenderblush;
    height: 100%;
    padding: 0px;
    scroll-behavior: smooth;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    /*font-weight: 700;*/


 }

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
    margin: 20px;
    padding: 10px;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: maroon;
    margin: 20px;
    padding: 10px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: maroon;
    margin: 20px;
    padding: 10px;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: black;
    margin: 20px;
    padding: 10px;

}

.fixed {
    position: fixed;
    max-height: 1200px;
    height: 1000px;
    top: 555px;
    float: right;
    margin: 20px;
    padding: 10px;
}

#container {
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  line-height: 1.0;
  margin-right: 300px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;

}


#container > div {
    height: 1000px;
    display: block;
    padding: 80px;
  }


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  float: left;
  margin: 20px;
  padding: 10px;
}


.tick > line {
    color: rgb(194, 194, 194);
    opacity: 1.0;
}
